.bold {
    font-weight: 1000 !important;
    text-shadow: 0 0 0px rgba(0,0,0,0.9) !important;
  }

  .post-content {
    text-align: justify;
    
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}