{{ if .Params.contributors }}
<div class="post-contributors">
    {{ if .Params.contributors.core }}
    <div class="contributors-section">
      <h4>Core Contributors</h4>
      <div class="contributors-grid">
        {{ range .Params.contributors.core }}
        <div class="contributor">
          {{ if .image }}
          <img src="{{ .image | absURL }}" alt="{{ .name }}" class="contributor-image">
          {{ else }}
          <img src="{{ "img/contributors/default.png" | absURL }}" alt="{{ .name }}" class="contributor-image">
          {{ end }}
          <p class="contributor-name">{{ .name }}</p>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <br>
    {{ if .Params.contributors.additional }}
    <div class="contributors-section">
        <h4 >Additional Contributors</h4>
        <div class="contributors-grid">
          {{ range .Params.contributors.additional }}
          <div class="contributor">
            {{ if .image }}
            <img src="{{ .image | absURL }}" alt="{{ .name }}" class="contributor-image">
            {{ else }}
            <img src="{{ "img/contributors/default.png" | absURL }}" alt="{{ .name }}" class="contributor-image">
            {{ end }}
            <p class="contributor-name">{{ .name }}</p>
          </div>
          {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}